.table1{
	
	/*border-collapse: collapse;*/
	margin: 50px auto;
	border-style:dotted;
	border-width:3px;
	border-color:#000000; 
	padding: 40px;
	background-color: #404448;
}
td, tr, th{
	border: 2px solid #f4f5f6;
	padding: 7px;
	color: #F1F8FF;
}
body{
	background-color: #24292E;
}

.table2{
	/*IF we use border collapse then padding is not work for us*/
	border: 2px;
	border-collapse: collapse;
	margin: 50px auto;
	border-spacing: 20px;
	border-style: solid;
	border-width:3px;
	border-color:#000000; 
	/*padding: 40px;*/
	background-color: #404448;
}
table.empty{
width:350px;
border-collapse:separate;
empty-cells:hide;
margin: 40px auto;
}
td.empty{
padding:5px;
border-style:solid; border-width:1px; border-color:#999999;
}