body{
	background-color: grey;
}

.abc{
	float: center;
}

.wrapper{
	font-size: 20px;
	margin: 10px auto;
	padding: 100px
}

.para1{
	background-color: #fff;
	border: 2px solid;
	border-bottom-color: green;
	border-top-color: yellow;
	border-left-color: purple;
	border-right-color: red;
	padding: 10px;
}
.para2{
	background-color: brown;
	border: 3px dotted;
	border-bottom-color: green;
	border-top-color: yellow;
	border-left-color: purple;
	border-right-color: red;
	padding: 10px;
}
.para3{
	background-color: #67b593;
	border: 3px inset;
	border-bottom-color: green;
	border-top-color: yellow;
	border-left-color: purple;
	border-right-color: red;
	padding: 10px;
}
.para4{
	border-width: 10px;
	background-color: #9080ff;
	/*border: 3px inset;*/
	border-style: solid;
	border-bottom-color: green;
	border-top-color: yellow;
	border-left-color: purple;
	border-right-color: red;
	padding: 10px;
}	
.para5{
	border-width: 12px;
	background-color: #a8a8a8;
	border-style: inset;
	border-bottom-color: green;
	border-top-color: yellow;
	border-left-color: purple;
	border-right-color: red;
	padding: 10px;
}
.para6{
	border-width: 8px;
	color: #a8a8a8;
	background-color: #494949;
	border-style: double;
	border-bottom-color: green;
	border-top-color: yellow;
	border-left-color: purple;
	border-right-color: red;
	padding: 10px;
}
.para7{
	border-width: 7px;
	background-color: #cda173;
	border-style: dashed;
	border-bottom-color: green;
	border-top-color: yellow;
	border-left-color: purple;
	border-right-color: red;
	padding: 10px;
}
.para8{
	border-width: 10px;
	background-color: #cce4f7;
	border-style: ridge;
	border-bottom-color: green;
	border-top-color: yellow;
	border-left-color: purple;
	border-right-color: red;
	padding: 10px;
}